<!-- class="img-fluid" -->
<img  style="width: 100%; max-height: 380px;" src="https://cdn.pixabay.com/photo/2016/10/03/21/13/jerusalem-1712855_1280.jpg"
  alt="city image">

<br>

<h1 style="text-align: center;" class="display-4">Welcome to Jerusalem Municipality Website</h1>

<br>

<blockquote class="blockquote text-center">
  <p class="mb-0">Jerusalem, is the capital city of Israel in Western Asia.<br>
    Situated on a plateau in the Judaean Mountains between the Mediterranean and the Dead Sea,<br>
    it is one of the oldest cities in the world,<br>
    and is considered holy for the Judaism.<br>
  </p>
</blockquote>

<br><br>

<h1 style="text-align: left;" class="display-6">Some details about Jerusalem...</h1>
<br>
<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Area</h5>
        <p class="card-text">City: 125,156 dunams</p>
        <p class="card-text">Metro: 652,000 dunams</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Population</h5>
        <p class="card-text">City: 936,425</p>
        <p class="card-text">Metro: 1,253,900</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Elevation</h5>
        <p class="card-text">754 m (2,474 ft)</p>
        <p class="card-text"><br></p>
      </div>
    </div>
  </div>

</div>


<br><br>