<div class="container">
    <h2>Businesses list</h2>
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Job Type</th>
                <th scope="col">Business Num</th>
                <th scope="col">Employee Amount</th>
                <th scope="col">Avgerage Monthly Profit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let business of businesses" [ngStyle]="{'background-color': business.avgMonthlyProfit < 5000 ? 'red' : 'royalblue'}">
                <td>{{ business.jobType }}</td>
                <td>{{ business.businessNum }}</td>
                <td>{{ business.employeeAmount }}</td>
                <td>{{ business.avgMonthlyProfit }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <!-- <button class="btn btn-primary" (click)="goBack()">go back</button> -->
</div>